<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
</head>

<body class="body">
    <p>Olá {{data.user.name}}, foi solicitado a redefinição de senha do seu cadastro!
    Se não foi você, desconsidere este e-mail.
    </p>

    <div>
      Código para alterar sua senha:
      <br/>
      {{data.token}}
    </div>
  <a href="{{data.url}}"> Clique aqui para alterar a senha!</a>
</body>
</html>