<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
</head>

<body class="body">
    <p>Olá, você tem um novo convite </p>
  <a href="{{data.url}}"> Clique aqui para se cadastrar!</a>
</body>
</html>